@import "@/assets/styles.scss";

.home {
    .bg-pink {
        background: $color-pink !important;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }

    .btn-copper {
        background: $color-copper;
        color: $color-white;
        font-family: $font-accent;

        &:hover {
            background: darken($color-copper, 5%);
        }
    }

    // Mobile-specific styles using media queries
    @media only screen and (max-width: 768px) {
        .home {
            // Adjust header text size
            h1 {
                font-size: 1.5rem;
            }
    
    
            h2 {
                font-size: 1.2rem;
            }
    
    
            // Adjust margins and paddings for mobile
            .container {
                padding: 0 $gutter;
            }
        }
    }
    
    
    @media only screen and (max-width: 480px) {
        .home {
            // Further adjust for very small screens
            h1 {
                font-size: 1.25rem;
            }
    
    
            h2 {
                font-size: 1rem;
            }
        }
    }
}